.pagination {
  display: flex;
  justify-content: center;
  padding: 0px 0px 50px;
}
ul[role="navigation"] {
  display: flex;
  list-style: none;
}
ul[role="navigation"] li {
  margin: 0px 8px;
}

ul[role="navigation"] li a {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}
ul[role="navigation"] li.selected a {
  background-color: #f6f8fa;
  border: 0.1px solid rgb(187, 187, 187);
}

@media screen and (max-width: 600px) {
  ul[role="navigation"] li a {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }
}
